db:
    host: $MONETDB_HOSTNAME
    dbname: $MONETDB_DATABASE
    user: $MONETDB_USER
    password: $MONETDB_PASSWORD
fields:
    jira_url: $JIRA_URL
    vcs_url: $SOURCE_URL
    jenkins_url: $JENKINS_URL
    quality_url: $QUALITY_URL
    metric_history_file: compact-history.json
    metric_options_file: project_definition.py
teams:
	- name: $TEAM_NAME
	  display_name: $TEAM_DISPLAY_NAME
	  board: $TEAM_BOARD
	  projects: $TEAM_PROJECTS
