MonetDB.R
DBI
digest
foreign==0.8-76
jsonlite
logging
yaml
plyr
openssl
ncdf4
stringr
padr
zoo
viridis
lintr
CORElearn
triangle
ggplot2;optional
qqplotr;optional
github:bnosac/pattern.nlp;optional
github:twitter/AnomalyDetection;optional
xts;optional
